h1 {
  color: #071629;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
  margin-top: 100px;
}
#mainP {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #071629;
  text-align: center;
  margin: 10px auto;
  max-width: 800px;
  padding: 0 100px;
}
h5 {
  color: #071629;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin-top: 10px;
}
.p {
  color: #071629;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  font-size: 14px;
  max-width: 200px;
  margin: 0 auto;
}
#iconDiv {
  display: flex;
  margin: 9%;
  padding: 0 1px;
}

#iconDiv > div {
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center; /* center content inside the block */
}

i {
  display: block; /* make icon behave like a block element */
  font-size: 8rem;
  color: #ff5e5e;
  margin-bottom: 1rem;
}
@media (max-width: 480px) {
  #iconDiv {
    flex-direction: column;
    align-items: center;
  }

  #iconDiv > div {
    margin-bottom: 40px; /* space between items */
  }
}
