#containerOfImgText {
  display: flex;
  color: aliceblue;
}
#containerOfImgText > img {
  margin: 10px;
  filter: brightness(0) saturate(100%) invert(85%) sepia(20%) hue-rotate(180deg);
}
#navHeader {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 10px 100px;
}
#navHeader > ul {
  display: flex;
}
#navHeader > ul > li {
  margin-right: 50px;
  list-style: none;
  color: aliceblue;
  text-decoration: none;
  color: inherit;
  font-family: "Source Sans Pro";
}
#navHeader > ul > li > a {
  color: aliceblue;
  text-decoration: none;
}
#mainHeader {
  margin: 0 auto; /* centers it horizontally */
  padding: 20px;
  text-align: center; /* optional: center text inside */
}
#mainHeader,
#content {
  margin: 0 auto; /* centers it horizontally */
  padding: 20px;
  text-align: center; /* optional: center text inside */
  font-family: "Source Sans Pro";
  color: aliceblue;
}

#mainHeader > span {
  margin: 20px;
}
#mainHeader > h1 {
  margin: 20px;
  font-size: 5rem;
}
.buttonHeader {
  margin-top: 20px;
  border-radius: 20px;
  border: none;
  padding: 10px 30px;
  color: aliceblue;
  background-color: rgb(163, 91, 230);
  font-family: "Source Sans Pro";
  margin-bottom: 40px;
}
#hero {
  width: 100%;
  /* Use min-height to cover both header and section1 */
  height: 100%;
  background-image: url("/css_advanced/img/Object.png");
  background-size: cover; /* fill the container */
  background-position: center; /* center the image */
  background-repeat: no-repeat; /* no tiling */
  display: flex;
  flex-direction: column;
}

/* Make header and section1 backgrounds transparent so image shows through */
header,
#section1 {
  background: transparent;
}
#content {
  margin-top: 100px;
  font-family: "Source Sans Pro";
}
#users {
  display: flex;
  justify-content: space-between;
  margin: 10px 150px;
  font-family: "Source Sans Pro";
}
#highlight {
  color: #c271ff;
}
#users > div > img {
  border-radius: 50%;
}

#section2 {
  display: flex;
  background-color: #c271ff;
  padding: 100px 150px;
}
#section2Content {
  display: block;
  font-family: "Source Sans Pro";
  color: aliceblue;
}
#section2Content > h3,
#section2Content > p {
  margin-left: 50px;
}
#section3 {
  display: block;
  font-family: "Source Sans Pro";
  margin: 0 auto;
  text-align: center; /* optional: center text inside */
  padding-top: 100px;
}
#section3 > h2 {
  margin-top: 30px;
  font-style: normal;
  font-weight: normal;
}
#section3Container {
  display: flex;
  padding: 100px 150px;
}
#section3Container > div > h3 {
  text-align: start;
}
.para {
  text-align: start;
  color: gray;
}
.star,
.staruser {
  display: flex;
}
.staruser > img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.staruser > h4 {
  color: #c271ff;
}
.min {
  margin-top: -20px;
  margin-left: 100px;
  color: #c271ff;
}
.star {
  color: #c271ff;
}
.play {
  position: absolute;
  margin: 40px -150px;
}
#section4 {
  background-color: #071629;
  color: aliceblue;
  margin: 0 auto;
  text-align: center;
  font-family: "Source Sans Pro";
}
#section4container {
  display: flex;
  justify-content: space-between;
  padding: 100px 150px;
}
.para2 {
  text-align: left;
}
#section4 > h2 {
  padding-top: 40px;
}
